.appointmentSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
}
.appointmentNamePhotoNumber {
    display:flex;
    flex-direction: column;
    width: 30%;
}
.appointmentFreelancePhoto {
    width: 70%;
}
.appointmentFreelancePhoto img {
    object-fit: contain;
    width: 100%;
    border-radius: 50%;
}
.appointmentFreelanceData{
    display: flex;
    flex-direction: row;
    width: 70%;
    flex-wrap: wrap;
}
.appointmentExpertise {
    width: 70%;
}
.appointmentEducation {
    width: 30%;
}
.appointmentAboutMe {
    width: 100%;
}
.appointmentButton {
    width: 100%;
    text-align: center;
}
