.chat-container {
    background-color: #000;
    color: white;
    font-family: 'Arial', sans-serif;
    max-width: 350px;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    max-width: 800px;
}

.messages {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message.received .text {
    background-color: #333;
    border-radius: 15px;
}

.message.sent .text {
    background-color: #007bff;
    color: white;
    border-radius: 15px;
    margin-left: auto;
}

.message .text {
    padding: 8px 10px;
    max-width: 80%;
}

.message .time {
    font-size: 0.75rem;
    margin-left: 5px;
    margin-right: 5px;
}

.message.received .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.input-area {
    display: flex;
    padding: 10px;
    background-color: #222;
}

.input-area input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 15px;
    margin-right: 10px;
}

.input-area input:focus {
    outline: none;
}

.input-area .send-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}

/* Scrollbar personalizada para navegadores webkit */
.messages::-webkit-scrollbar {
    width: 5px;
}

.messages::-webkit-scrollbar-track {
    background: #000;
}

.messages::-webkit-scrollbar-thumb {
    background: #555;
}
