.confirmation-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 40px auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.confirmation-title {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.confirmation-button {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #51607E;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

.confirmation-button:active {
    color: #333;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}

.confirmation-button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.confirmation-button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #508D69;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.confirmation-button:hover {
    color: #ffffff;
    border: 1px solid #508D69;
}

.confirmation-button:hover:before {
    top: -35%;
    background-color: #508D69;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.confirmation-button:hover:after {
    top: -45%;
    background-color: #508D69;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}