.videos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    font-family: 'Lato', sans-serif;
}

.video-card {
    padding: 20px;
    border-radius: 20px;
    background: #e8e8e8;
    box-shadow: 5px 5px 6px #dadada,
        -5px -5px 6px #f6f6f6;
    transition: 0.4s;
    flex-basis: calc(50% - 10px);
    max-width: calc(50% - 10px);
}

.video-card:hover {
    translate: 0 -10px;
}

.video-card-title {
    font-size: 18px;
    font-weight: 600;
    color: #2e54a7;
    margin: 15px 0 0 10px;
}

.video-card-image {
    min-height: 170px;
    background-color: #c9c9c9;
    border-radius: 15px;
    box-shadow: inset 8px 8px 10px #c3c3c3,
        inset -8px -8px 10px #cfcfcf;
}

.video-card-body {
    margin: 13px 0 0 10px;
    color: rgb(31, 31, 31);
    font-size: 15px;
}

.video-footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #636363;
}

.by-name {
    font-weight: 700;
}

.video-category-selector {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.video-search-button,
.video-load-more {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.video-category-selector:hover,
.video-search-button:hover,
.video-category-selector:focus,
.video-search-button:focus {
    border-color: #000;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.video-search-button:hover,
.video-load-more:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}


.video-search-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 10vh auto;
}

.load-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.video-load-more {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

/* Note that you only needs to edit the config to customize the button! */

.plusButton {
    /* Config start */
    --plus_sideLength: 2.5rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    /* Config end */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: #000000;
    overflow: hidden;
}

.plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.plusButton:hover {
    cursor: pointer;
}

.plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton>.plusIcon {
    fill: white;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
    fill: black;
    transform: rotate(180deg);
}

.plusButton:focus-visible>.plusIcon {
    fill: black;
    transform: rotate(180deg);
}

/* SPINNER */
.spinner-container {
    height: 100vh;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --clr: rgb(0, 113, 128);
    --gap: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.spinner span {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--clr);
    opacity: 0;
}

.spinner span:nth-child(1) {
    animation: fade 1s ease-in-out infinite;
}

.spinner span:nth-child(2) {
    animation: fade 1s ease-in-out 0.33s infinite;
}

.spinner span:nth-child(3) {
    animation: fade 1s ease-in-out 0.66s infinite;
}

@keyframes fade {

    0%,
    100% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }
}