.food-info-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 10vh auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.left-content,
.right-content {
    max-width: 600px;
}

.chart-container,
.nutrition-facts {
    width: 100%;
    max-width: 600px;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {

    .left-content,
    .right-content {
        max-width: 100%;
        /* En pantalla pequeña, cada sección ocupa el 100% */
    }
}


.food-info-container h2 {
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.calories,
.health-labels {
    padding: 10px 0;
}

.health-labels {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.health-labels h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.health-labels p {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.health-labels span:not(:last-child)::after {
    content: '•';
    color: #999;
    font-size: 24px;
    padding: 0 8px;
    line-height: 1;
}

.nutrition-facts {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', 'Arial', sans-serif;
}

.nutrition-facts h1 {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 12px;
}

.chart-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.circle-chart {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 3vh;
    margin-top: 4vh;
    align-self: center;
}

.circle-chart div {
    background-color: white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 10%;
}


.circle-chart div span {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

.nutrition-info {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.nutrition-info li {
    display: flex;
    align-items: center;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}


.fat {
    background-color: #FF6347;
}

.carbs {
    background-color: #FFD700;
}

.protein {
    background-color: #90EE90;
}