.app-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 10vh;
}

.app-footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.app-footer a:hover {
    text-decoration: underline;
}

.app-footer-links,
.app-footer-info,
.app-footer-credit,
.social-icons {
    margin-bottom: 15px;
}

.back-to-top {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #538A82;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.back-to-top::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Flecha_arriba.svg/400px-Flecha_arriba.svg.png') no-repeat center center;
    background-size: contain;
}

.back-to-top:hover {
    transform: translateY(-5px);
}

.social-icons {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}