.landing-header,
.testimonials,
.benefits-section,
.expert-support-section {
  font-family: 'Lato', sans-serif;
}

.landing-header {
  color: #333;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-text-section h1 {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 20px;
}

.landing-text-section p {
  margin-bottom: 20px;
}

.landing-cta-buttons {
  display: flex;
  gap: 10px;
}

.landing-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.landing-btn.primary {
  background-color: #538A82;
  color: white;
  border-radius: 5px;
}

.landing-btn.primary:hover {
  background-color: #538a82b6;
}

.landing-btn.secondary {
  background-color: transparent;
  color: #538A82;
}

.landing-btn.secondary:hover {
  color: #538a82b6;
}

.landing-bookkeeping-offer {
  font-style: italic;
}

.landing-image-section {
  position: relative;
  max-width: 100%;
  height: auto;

}

/* Estilos para tablets */
@media (max-width: 900px) {
  .landing-content-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .landing-image-section {
    width: 100%;
    order: -1;
    margin-bottom: 20px;
  }

  .landing-text-section {
    width: 100%;
  }

  .landing-cta-buttons {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .landing-btn {
    width: 100%;
  }

  .landing-text-section h1 {
    font-size: 2em;
  }
}

/* Estilos para móviles */
@media (max-width: 600px) {
  .landing-header {
    padding: 10px;
  }

  .landing-content-wrapper {
    padding: 0;
  }

  .landing-text-section h1 {
    font-size: 1.5em;
    line-height: 1.1;
    margin-bottom: 15px;
  }

  .landing-text-section p,
  .landing-bookkeeping-offer {
    font-size: 0.9em;
  }

  .landing-cta-buttons {
    flex-direction: column;
    gap: 5px;
  }

  .landing-btn {
    padding: 8px 15px;
  }

  .landing-image-section img {
    max-width: 100%;
    height: auto;
  }
}

/* TESTIMONIALS */

.testimonials {
  background-color: #fff;
  text-align: center;
  padding: 90px 20px;
}

.testimonials h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.testimonials-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonial {
  max-width: 300px;
}

.testimonial blockquote {
  font-style: italic;
  margin-bottom: 20px;
}

.testimonial-author {
  text-align: left;
}

.testimonial-author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-author p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-size: 14px;
}

.testimonial-author span {
  display: block;
  font-size: 12px;
  color: #666;
}

/* BENEFICIOS */
.benefits-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #E0DFD5;
}

.benefits-icon {
  height: 4rem;
}

.benefits-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits-button {
  width: 150px;
  height: 50px;
  background-color: white;
  margin: 20px;
  color: #568fa6;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.benefits-button:before,
.benefits-button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #568fa6;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.benefits-button:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.benefits-button:after {
  left: 0;
  bottom: 0;
}

.benefits-button span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.benefits-button span:before,
.benefits-button span:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #568fa6;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.benefits-button span:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.benefits-button span:after {
  left: 0;
  bottom: 0;
}

.benefits-button p {
  padding: 0;
  margin: 0;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.benefits-button p:before,
.benefits-button p:after {
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.benefits-button p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
}

.benefits-button p:after {
  content: attr(data-text);
  top: 150%;
  color: #568fa6;
}

.benefits-button:hover:before,
.benefits-button:hover:after {
  width: 100%;
}

.benefits-button:hover span {
  z-index: 1;
}

.benefits-button:hover span:before,
.benefits-button:hover span:after {
  height: 100%;
}

.benefits-button:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.benefits-button:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}

.benefits-button.start {
  background-color: #568fa6;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.benefits-button.start p:before {
  top: -50%;
  transform: rotate(5deg);
}

.benefits-button.start p:after {
  color: white;
  transition: all 0s ease;
  content: attr(data-start);
  top: 50%;
  transform: translateY(-50%);
  animation: start 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes start {
  from {
    top: -50%;
  }
}

.benefits-button.start:hover:before,
.benefits-button.start:hover:after {
  display: none;
}

.benefits-button.start:hover span {
  display: none;
}

.benefits-button:active {
  outline: none;
  border: none;
}

.benefits-button:focus {
  outline: 0;
}

/* SECCIONES DETALLADAS */
.expert-support-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 60px;
  background-color: #ffffff;
  max-width: 1200px;
  margin: auto;
}

.support-image img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.support-content {
  max-width: 540px;
  margin-left: 50px;
}

.support-content h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
  font-weight: normal;
}

.support-content p {
  color: #666666;
  line-height: 1.6;
  font-size: 1em;
  margin-bottom: 32px;
}

.support-button {
  padding: 12px 24px;
  background-color: #253137;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.support-button:hover {
  background-color: #D9E8E4;
  color: #253137;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
  .expert-support-section {
    flex-direction: column-reverse;
    text-align: center;
  }

  .support-image {
    order: 2;
    margin-bottom: 20px;
  }

  .support-content {
    order: 1;
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .support-image,
  .support-content {
    width: 100%;
  }
}