.notification-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #c4c4c4,
        -10px -10px 20px #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px;
    margin-top: 5vh;
}

.button {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px #c4c4c4,
        inset -5px -5px 5px #ffffff;
    color: #333;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 3px;
    padding: 10px;
    text-transform: uppercase;
}

.button:hover {
    box-shadow: none;
}

.svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.notification-card .Explore {
    color: #3035cb;
}

.notification-card .Explore:hover {
    background-color: #3035cb;
    color: #e4e4e4;
}

.notification-card .Post {
    color: #333;
}

.notification-card .Post:hover {
    background-color: #333;
    color: #e4e4e4;
}

.notification-card .Chat {
    color: #b82323;
}

.notification-card .Chat:hover {
    background-color: #b82323;
    color: #e4e4e4;
}