.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    margin-top: 10vh;
}

#search-box {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    outline: none;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    background-color: white;
    color: black;
    box-sizing: border-box;
}

#search-box:-webkit-autofill,
#search-box:-webkit-autofill:hover,
#search-box:-webkit-autofill:focus,
#search-box:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black !important;
}

#search-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    flex-shrink: 0;
}

#search-button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* Media queries para tamaños de pantalla más pequeños */
@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
    }

    #search-box,
    #search-button {
        margin: 5px 0;
    }
}

.food-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw;
    justify-content: center;
    padding: 10px;
    margin: 50px;
    justify-items: center;
    min-height: 100vh;
}

/* Estilos para pantallas medianas y pequeñas, dos columnas */
@media only screen and (max-width: 1024px) {
    .food-cards-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* Estilos para pantallas muy pequeñas, una columna */
@media only screen and (max-width: 600px) {
    .food-cards-container {
        grid-template-columns: 1fr;
    }
}