.videos-container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    font-family: 'Lato', sans-serif;
    padding-top: 10vh;
}

.video-card-image2 {
    min-height: fit-content;
    background-color: #c9c9c9;
    border-radius: 15px;
    box-shadow: inset 8px 8px 10px #c3c3c3, inset -8px -8px 10px #cfcfcf;
}